* {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  background-color: #222;
  color: white;
  font-size: 20px;
}

.container {
  height: 100vh;
  padding-left: 10vw;
  padding-right: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.albumCover {
  height: 75vh;
  width: 75vh;
  max-height: 80vw;
  max-width: 80vw;
  box-shadow: 0 0 100px #555;
}

.button {
  margin-top: 50px;
  margin-right: 20px;
  font-size: 20px;
  padding: 10px 50px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  outline: none;
  color: white;
  border: 2px solid white;
  background: transparent;
}
.button:last-child {
  margin-right: 0;
}

.buttonPrimary {
  color: black;
  background-color: white;
}
