* {
  margin: 0;
  padding: 0;
}

html {
  text-align: center;
  background-color: #222;
  color: white;
  font-size: 20px;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  width: 100%;
}

.albumCover {
  width: 75vh;
  max-width: 80vw;
  box-shadow: 0 0 100px #555;
}

.imageButton {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.button {
  margin-top: 20px;
  margin-right: 4px;
  font-size: 20px;
  padding: 10px 50px;
  border-radius: 10px 0 0 10px;
  border: none;
  font-weight: bold;
  outline: none;
  color: black;
  background-color: #bbb;
  cursor: pointer;
  transition: all 300ms;
}
.button:last-child {
  margin-right: 0;
}
.button:hover {
  background-color: #aaa;
}

.buttonPrimary {
  background-color: #eee;
  border-radius: 0 10px 10px 0;
}
.buttonPrimary:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 490px) {
  .albumCover {
    max-width: 90vw;
  }

  .button {
    font-size: 15px;
    padding: 10px 30px;
    margin-right: 2px;
  }
}

@media only screen and (max-width: 350px) {
  .button {
    font-size: 15px;
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 319px) {
  .button {
    border-radius: 10px;
  }
}
